{% if insetContent._type == 'insetImage' %}
  {% render 'pp-subpage-img', content: insetContent %}
{% else %}
  <div class="pp-split-layout-plane-excerpt-container">
    {% assign lines = insetContent.excerpt | newline_to_br | split: '<br />' %}
    {% for line in lines %}
      {% if line != blank %}
        <p class="pp-split-layout-plane-excerpt">{{ line }}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}