{{ 'pp-subpage-img.css' | asset_url | stylesheet_tag }}

{% liquid
  assign imageData = content.image
  assign caption = content.caption
  case content.insetSize
    when 'Small'
      assign insetSize = '55%'
    when 'Medium'
      assign insetSize = '70%'
    when 'Large'
      assign insetSize = '85%'
    else
      assign insetSize = '100%'
  endcase
%}


<div class="pp-subpage-img-container" style="--insetSize: {{ insetSize }};">
  {% render 'pp-focal-image', imageData: imageData, class: 'pp-subpage-img', rounded: roundedCorners, dropShadow: dropShadow %}
  {% if caption != blank %}
    <p class="pp-subpage-img-caption">{{ caption }}</p>
  {% endif %}
</div>