<p><a href="{{ block.settings.url }}">{{ block.settings.name }}</a></p>


{% schema %}
  {
    "name": "PatinaPatina Stockist",

    "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
       },
       {
          "type": "url",
          "id": "url",
          "label": "URL"
       }
    ]
  }
  {% endschema %}