<p><a href="{{ block.settings.url }}">{{ block.settings.name }}</a></p>


{% schema %}
  {
    "name": "Stockist",
    "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
       },
       {
          "type": "url",
          "id": "url",
          "label": "URL"
       }
    ],
    "presets": [
    {
      "name": "Stockist",
      "settings": {
        "name": "Issues Mag Shop",
        "url": "https://issuesmagshop.com"
      }
    }
  ]
  }
  {% endschema %}