@use 'sass:math';

$screen-desktop-large: 144.0rem;
$screen-desktop-small: 102.4rem;
$screen-mobile: 42rem;

$x-padding: 3.2rem;
$main-container-width: calc(100vw - $x-padding * 2);

@function dynamic-size($min, $max) {
  $delta-y: $max - $min;
  $delta-x: $screen-desktop-large - $screen-desktop-small;

  $m: math.div($delta-y, $delta-x);
  @debug $m;
  $b: $min - $m * $screen-desktop-small;
  @return calc(#{$m * 100}vw + #{$b});
}

$gap-min: 3.2rem;
$gap-max: 6rem;
$gap: dynamic-size($gap-min, $gap-max);

$half-container-width: calc(50vw - $gap / 2 - $x-padding);



$y-padding: 4.5rem;
$button-transition: 0.15s ease-in-out;

@mixin flex ($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin main-container($top-margin: 0, $bottom-margin: 0) {
  padding: $top-margin $x-padding $bottom-margin;
  width: 100%;
}