@use 'sass:math';

$screen-desktop-large: 1440px;
$screen-desktop-small: 1024px;
$screen-tablet: 768px;
$screen-mobile: 480px;

$desktop: 'screen and (min-width: #{$screen-tablet + 1px})';
$tablet: 'screen and (min-width: #{$screen-mobile + 1px}) and (max-width: #{$screen-tablet})';
$mobile: 'screen and (max-width: #{$screen-mobile})';
$x-padding-desktop: 3.2rem;
$x-padding-tablet: 2.4rem;
$x-padding-mobile: 1.6rem;
$y-tablet-padding: 3rem;
$y-mobile-padding: 2rem;

$main-container-width: calc(100vw - var(--pp-x-padding) * 2);

@function desktop-dynamic-size($min, $max) {
  $delta-y: $max - $min;
  $delta-x: 144.0rem - 102.4rem;

  $m: math.div($delta-y, $delta-x);
  $b: $min - $m * 102.4rem;
  @return calc(#{$m * 100}vw + #{$b});
}

$gap-min: 3.2rem;
$gap-max: 6rem;
$gap: desktop-dynamic-size($gap-min, $gap-max);
$half-container-width: calc(50vw - $gap / 2 - var(--pp-x-padding));
$button-transition: 0.15s ease-in-out;

$cart-quantity-desktop-width: calc(9vw + 12rem);
$cart-quantity-tablet-width: calc(9vw + 12rem);
$cart-quantity-mobile-width: calc(15vw + 5rem);

$cart-price-desktop-width: 5vw;

$cart-price-non-desktop-width: 6rem;


@mixin flex ($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin main-container($top-margin: 0, $bottom-margin: 0) {
  padding: $top-margin var(--pp-x-padding) $bottom-margin;
  width: 100%;
}

@mixin breakpoint-value ($variable-name, $desktop-value, $tablet-value, $mobile-value) {
  @media #{$desktop} {
    #{$variable-name}: $desktop-value;
  }

  @media #{$tablet} {
    #{$variable-name}: $tablet-value;
  }

  @media #{$mobile} {
    #{$variable-name}: $mobile-value;
  }
}

@mixin button-padding {
  padding: calc((var(--button-height) - (var(--pp-font-body-size) * var(--main-line-height))) / 2) var(--x-padding);
}

@mixin full-page-height {
  $header-height: calc(var(--header-padding-top) + var(--header-padding-bottom) + var(--svg-width) / var(--logo-ratio));
  $desktop-footer-height: calc(var(--footer-padding) * 2 + var(--pp-font-body-size) * var(--main-line-height));
  $mobile-footer-height: calc(var(--footer-padding) * 2 + var(--pp-font-body-size) * var(--main-line-height) * 5 + var(--footer-gap) * 4);
  $desktop-height: calc(100vh - #{$desktop-footer-height} - #{$header-height});
  $mobile-height: calc(100dvh - #{$mobile-footer-height} - #{$header-height});
  @include breakpoint-value(--height, $desktop-height, $mobile-height, $mobile-height);
  height: var(--height);
}