@use 'sass:math';

$screen-desktop-large: 1440px;
$screen-desktop-small: 1024px;
$screen-mobile: 420px;

$desktop: 'screen and (min-width: #{$screen-mobile + 1px})';
$mobile: 'screen and (max-width: #{$screen-mobile})';

$x-padding-desktop: 3.2rem;
$x-padding-mobile: 1.8rem;
$y-mobile-padding: 2rem;

$main-container-width: calc(100vw - var(--pp-x-padding) * 2);

@function dynamic-size($min, $max) {
  $delta-y: $max - $min;
  $delta-x: 144.0rem - 102.4rem;

  $m: math.div($delta-y, $delta-x);
  $b: $min - $m * 102.4rem;
  @return calc(#{$m * 100}vw + #{$b});
}

$gap-min: 3.2rem;
$gap-max: 6rem;
$gap: dynamic-size($gap-min, $gap-max);

$half-container-width: calc(50vw - $gap / 2 - var(--pp-x-padding));


$button-transition: 0.15s ease-in-out;

@mixin flex ($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin main-container($top-margin: 0, $bottom-margin: 0) {
  padding: $top-margin var(--pp-x-padding) $bottom-margin;
  width: 100%;
}