@mixin patinapatina-body-type {
  font-family: var(--patinapatina-font-body-family);
  font-size: var(--patinapatina-font-body-size);
  line-height: 1.12;
}

@mixin patinapatina-heading-type {
  font-family: var(--patinapatina-font-heading-family);
  font-weight: normal;
  font-size: var(--patinapatina-font-heading-size);
  line-height: 1.12;
}