@use './layout' as *;

@mixin pp-body-type {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
}

@mixin pp-heading-type {
  font-family: var(--pp-font-heading-family);
  font-weight: normal;
  font-size: var(--pp-font-heading-size);
  line-height: 1.12;
}

@mixin pp-caption-type {
  @include breakpoint-value(--font-size, 1.6rem, 1.2rem, 0.8rem);
  font-size: var(--font-size);

  line-height: 1.2;
  font-family: var(--pp-font-heading-family);
  letter-spacing: 0.01em;
}