{{ 'custom-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .custom-hero {
    background-color: {{ section.settings.background_color }};
  }
{%- endstyle -%}

<div
  id="Custom-Hero-{{ section.id }}"
  class="custom-hero"
>
  <h1>PATINAPATINA is a magazine with stories on art, identity, and culture. It is an embrace of the messiness and confusion of our shared experiences.</h1>
</div>

{% schema %}
  {
    "name": "Custom Hero",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#000000"
      }
    ],
    "blocks": [

    ],
    "presets": [
      {
        "name": "custom-hero",
        "blocks": [
        ]
      }
    ]
  }
  {% endschema %}
