{{ 'patinapatina-hero.css' | asset_url | stylesheet_tag }}

<div class="patinapatina-hero color-landing">
  <div class="patinapatina-hero-inner">
    <h3>{{ section.settings.hero_statement }}</h3>
    {{ 'patinapatina-emblem.svg' | inline_asset_content }}

  </div>
</div>

{% schema %}
  {
    "name": "PatinaPatina Hero",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "hero_statement",
        "label": "Hero Statement"
      }
    ],
    "presets": [
      {
        "name": "patinapatina-hero"
      }
    ]
  }
{% endschema %}