{{ 'pp-hero.css' | asset_url | stylesheet_tag }}

{% assign metaobj = shop.metaobjects['app--6007307--sanity-documents-home'].values %}

<div class="pp-hero color-landing">
  <div class="pp-hero-inner">
    {% for o in metaobj %}
      <h3>{{ o.introduction }}</h3>
    {% endfor %}
    {{ 'pp-emblem.svg' | inline_asset_content }}
  </div>
</div>

{% schema %}
  {
    "name": "PatinaPatina Hero",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}