.custom-hero {
  h1 {
    font-family: var(--custom-font-heading-family);
    font-weight: normal;
    font-size: var(--custom-font-heading-size);
    letter-spacing: 0.01em;
    line-height: 1.167em;
  }
}

.custom-hero-inner {
  max-width: 1200px;
}