@use './scss/layout' as *;
@use './scss/typography' as *;

footer {
  margin: 0;
  @include flex;

  li,
  a {
    @include pp-body-type;
  }

  a {
    text-transform: uppercase;
    text-underline-offset: 12.5%;
  }

}

.footer-menu ul {
  @include flex;

  margin: 0;
  width: 100%;

  @include breakpoint-value(--flex-direction, row, column, column);
  @include breakpoint-value(--text-decoration, underline, none, none);

  flex-direction: var(--flex-direction);
  gap: var(--footer-gap);
  padding: var(--footer-padding) 0 var(--footer-padding);

  a {
    text-decoration: var(--text-decoration);
    text-decoration-thickness: 3%;
  }
}