@use './scss/layout' as *;
@use './scss/typography' as *;

footer {
  margin: 0;
  @include flex;

  a {
    @include pp-body-type;
    text-transform: uppercase;
    text-decoration-thickness: 5%;
    text-underline-offset: 12.5%;
  }

  .logo-container {

    &,
    &-colored {
      max-width: 1600px;

      img {
        width: 100%;
      }
    }

    &-colored {
      position: relative;
      mix-blend-mode: multiply;
      display: flex;

      &:before {
        content: '';
        display: block;
        width: 99%;
        height: 99%;
        position: absolute;
        top: 0.5%;
        left: 0.5%;
        background-color: rgb(var(--color-foreground));
        mix-blend-mode: screen;
      }
    }
  }
}

.footer-menu ul {
  @include flex;
  margin: 0;
  width: 100%;
  gap: 4.5rem;
  padding: 8.5rem 0 4.5rem;
}