footer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer li,
footer a {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: var(--main-line-height);
}
footer a {
  text-transform: uppercase;
  text-underline-offset: 12.5%;
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  flex-direction: var(--flex-direction);
  gap: var(--footer-gap);
  padding: var(--footer-padding) 0 var(--footer-padding);
}
@media screen and (min-width: 769px) {
  .footer-menu ul {
    --flex-direction: row;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-menu ul {
    --flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .footer-menu ul {
    --flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .footer-menu ul {
    --text-decoration: underline;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-menu ul {
    --text-decoration: none;
  }
}
@media screen and (max-width: 480px) {
  .footer-menu ul {
    --text-decoration: none;
  }
}
.footer-menu ul a {
  text-decoration: var(--text-decoration);
  text-decoration-thickness: 3%;
}
