@use './scss/layout' as *;
@use './scss/typography' as *;

footer {
  margin: 0;
  @include flex;

  a {
    @include pp-body-type;
    text-transform: uppercase;
    text-underline-offset: 12.5%;
  }

}

.footer-menu ul {
  @include flex;

  margin: 0;
  width: 100%;

  @include breakpoint-value(--flex-direction, row, column, column);
  @include breakpoint-value(--text-decoration, underline, none, none);
  @include breakpoint-value(--gap, 4.5rem, 3.25rem, 2rem);
  @include breakpoint-value(--padding, 8.5rem, 6.75rem, 5rem);

  flex-direction: var(--flex-direction);
  gap: var(--gap);
  padding: var(--padding) 0 var(--padding);

  a {
    text-decoration: var(--text-decoration);
    text-decoration-thickness: 3%;
  }
}