footer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
  text-transform: uppercase;
  text-underline-offset: 12.5%;
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  flex-direction: var(--flex-direction);
  gap: var(--gap);
  padding: var(--padding) 0 var(--padding);
}
@media screen and (min-width: 769px) {
  .footer-menu ul {
    --flex-direction: row;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-menu ul {
    --flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .footer-menu ul {
    --flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .footer-menu ul {
    --text-decoration: underline;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-menu ul {
    --text-decoration: none;
  }
}
@media screen and (max-width: 480px) {
  .footer-menu ul {
    --text-decoration: none;
  }
}
@media screen and (min-width: 769px) {
  .footer-menu ul {
    --gap: 4.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-menu ul {
    --gap: 3.25rem;
  }
}
@media screen and (max-width: 480px) {
  .footer-menu ul {
    --gap: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .footer-menu ul {
    --padding: 8.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-menu ul {
    --padding: 6.75rem;
  }
}
@media screen and (max-width: 480px) {
  .footer-menu ul {
    --padding: 5rem;
  }
}
.footer-menu ul a {
  text-decoration: var(--text-decoration);
  text-decoration-thickness: 3%;
}
