@use './scss/layout' as *;

header {
  h1 {
    margin: 0;
  }

  @include flex(space-between);
  @include main-container(3.6rem, 1.8rem);
}

.header-menu {
  ul {
    display: flex;
    gap: 1.2rem;
  }

  li button {
    margin: 0;
  }
}