@use './scss/layout' as *;

header {
  h1 {
    margin: 0;
  }

  display: flex;
  justify-content: space-between;
  padding: 3.6rem $x-padding 1.8rem;
}

.header-menu {

  ul {
    display: flex;
    gap: 1.2rem;
  }

  li {
    &::marker {
      content: none;
    }

    button {
      margin: 0;
    }
  }
}