header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.6rem 3.2rem 1.8rem;
  width: 100%;
}
header h1 {
  margin: 0;
}

.header-menu ul {
  display: flex;
  gap: 1.2rem;
}
.header-menu li button {
  margin: 0;
}
