@use './scss/layout' as *;

header {
  h1 {
    margin: 0;
  }

  @include breakpoint-value(--padding-top, 3.6rem, 3rem, 2rem);
  @include breakpoint-value(--padding-bottom, 1.8rem, 2rem, 2rem);
  @include main-container(var(--padding-top), var(--padding-bottom));

  svg {
    @include breakpoint-value(--svg-width, 106px, 80px, 65px);
    width: var(--svg-width);
  }

  @include flex(space-between);

}

.header-menu {
  ul {
    @include breakpoint-value(--gap, 1.2rem, 0.8rem, 0.5rem);
    padding-inline-start: 0;
    display: flex;
    gap: var(--gap);
  }

  li button {
    margin: 0;
  }
}