@use './scss/utils' as *;
@use './scss/typography' as *;
@use './scss/layout' as *;

:root {
  --patinapatina-font-heading-family: 'AzeretMono';
  --patinapatina-font-body-family: 'XanhMono';

  --patinapatina-font-heading-size: 4rem;
  --patinapatina-font-body-size: 2.4rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.patinapatina-button {

  &,
  &-active {
    @include flex;
    $button-height: 4.2rem;
    border-radius: calc($button-height / 2);
    height: $button-height;
    border: 1px solid currentColor;
    padding: 0 3rem;

    a {
      border: none;
      text-transform: uppercase;
      display: block;
      min-height: auto;
      min-width: auto;
      padding: 0;

      &::before,
      &::after {
        content: none;
      }
    }

    &,
    a {
      background: none;
      transition:
        background-color $button-transition,
        color $button-transition;
      @include patinapatina-body-type;
    }
  }
}

h2,
p {
  @include patinapatina-body-type;
}