@use './scss/utils' as *;

.patinapatina-hero {
  $emblem-max-width: 535px;
  $emblem-max-height: 433px;
  $emblem-height-to-width-ratio: $emblem-max-height / $emblem-max-width;
  $emblem-height: 45vw * $emblem-height-to-width-ratio;

  @mixin size-to-emblem {
    height: $emblem-height;
    max-height: $emblem-max-height;
  }

  padding: 40px 0 110px;

  .patinapatina-hero-inner {
    @include flex;
    @include size-to-emblem;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;

    h1 {
      font-family: var(--patinapatina-font-heading-family);
      font-weight: normal;
      font-size: var(--patinapatina-font-heading-size);
      letter-spacing: 0.01em;
      line-height: 1.167em;
      text-align: center;
    }

    svg {
      max-width: $emblem-max-width;
      position: absolute;
      top: 0;
    }
  }
}