@use './scss/utils' as *;

.patinapatina-home-section {
  h2 {
    font-family: var(--patinapatina-font-body-family);
    font-weight: normal;
    font-size: var(--patinapatina-font-body-size);
    letter-spacing: 0.01em;
    padding: 3.2rem;
    margin: 0;
    @include flex(space-between, center);
  }
}