:root {
  --patinapatina-font-heading-family: 'AzeretMono';
  --patinapatina-font-body-family: 'XanhMono';

  --patinapatina-font-heading-size: 40px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}