@use './scss/utils' as *;
@use './scss/layout' as *;
@use './scss/typography' as *;

.patinapatina-landing-section {
  .patinapatina-landing-section-image-container {
    @include flex;

    img {
      flex-grow: 1;
    }
  }

  h2 {
    @include flex(space-between, center);
    letter-spacing: 0.01em;
    padding: 14rem $x-padding $y-padding;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    $left: calc(50vw - $x-padding);
    text-indent: calc(-1 * $left);
    position: relative;
    left: $left;
    width: calc(50vw + $x-padding);
    margin: 0;
    padding: $y-padding $x-padding 5.6rem;
  }

  button {
    margin-top: 3.2rem;

    &[disabled='true'] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}