@use './scss/utils' as *;
@use './scss/layout' as *;

.patinapatina-stockists {
  display: flex;
  padding: $y-padding $x-padding 13.5rem;
  position: relative;
  overflow: hidden;
  margin-top: 14rem;

  h2,
  p {
    font-family: var(--patinapatina-font-heading-family);
    font-size: var(--patinapatina-font-body-size);
    line-height: 1.167em;
    letter-spacing: 0.01em;
    margin: 0;
  }


  p {
    margin: 0;

    a,
    a:hover,
    a:active {
      text-decoration: none;
      color: inherit;
    }
  }

  h2,
  div {
    width: 50vw;
  }

  .patinapatina-stockists-background {
    position: absolute;
    width: calc(100vw + 30px);
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    z-index: -1;

    path {
      stroke-width: 1px;
    }
  }
}