@use './scss/typography' as *;
@use './scss/layout' as *;

:root {
  --pp-font-heading-family: 'AzeretMono';
  --pp-font-body-family: 'XanhMono';

  --pp-font-heading-size: 4rem;
  --pp-font-body-size: 2.4rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ul li {
    &::marker {
      content: none;
    }
  }

  a,
  a:active,
  a:visited {
    color: rgb(var(--color-foreground));
  }

  #shop-hcaptcha-badge-container {
    display: none !important;
  }
}

button.pp-button {
  color: rgb(var(--color-foreground));


  &,
  &-active {
    $button-height: 4.2rem;
    @include flex;

    border: 1px solid rgb(var(--color-foreground));
    border-radius: calc($button-height / 2);
    height: $button-height;
    padding: 0 3rem;
    cursor: pointer;

    a {
      border: none;
      text-transform: uppercase;
      display: block;
      min-height: auto;
      min-width: auto;
      padding: 0;
      text-decoration: none;

      &,
      &:active,
      &:visited {
        color: inherit;
      }

      &::before,
      &::after {
        content: none;
      }
    }

    &,
    a {
      background: none;
      @include pp-body-type;
    }
  }

  &-active,
  &:hover {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
    transition: all $button-transition;
  }
}

h2,
p {
  @include pp-body-type;
}