@use './scss/typography' as *;
@use './scss/layout' as *;

:root {
  --pp-font-heading-family: 'AzeretMono';
  --pp-font-body-family: 'XanhMono';

  --pp-font-heading-size: 4rem;
  --pp-font-body-size: 2.4rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ul li {
    &::marker {
      content: none;
    }
  }

  a,
  a:active,
  a:visited {
    color: rgb(var(--color-foreground));
  }

  #shop-hcaptcha-badge-container {
    display: none !important;
  }
}

button.pp-button {
  color: rgb(var(--color-foreground));
  text-transform: uppercase;

  &,
  &-active {
    $button-height: 4.2rem;
    @include flex;

    border: 1px solid rgb(var(--color-foreground));
    border-radius: calc($button-height / 2);
    height: $button-height;

    cursor: pointer;

    span,
    a {
      border: none;
      text-transform: uppercase;
      display: block;
      min-height: auto;
      min-width: auto;
      padding: calc(($button-height - (var(--pp-font-body-size) * 1.12)) / 2) 3rem;
      text-decoration: none;


      &,
      &:active,
      &:visited {
        color: inherit;
      }

      &::before,
      &::after {
        content: none;
      }
    }

    &,
    span,
    a {
      background: none;
      @include pp-body-type;
    }
  }

  &-active,
  &:hover {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
    transition: all $button-transition;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

h2,
p {
  @include pp-body-type;
}

img.drop-shadow {
  filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.25));
}

:root {
  --pp-rounded-corners: 20px;
}

img.rounded {
  border-radius: var(--pp-rounded-corners);
}