:root {
  --pp-font-heading-family: "AzeretMono";
  --pp-font-body-family: "XanhMono";
  --pp-font-heading-size: 4rem;
  --pp-font-body-size: 2.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root ul li::marker {
  content: none;
}
:root a,
:root a:active,
:root a:visited {
  color: rgb(var(--color-foreground));
}
:root #shop-hcaptcha-badge-container {
  display: none !important;
}

button.pp-button {
  color: rgb(var(--color-foreground));
  text-transform: uppercase;
}
button.pp-button, button.pp-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--color-foreground));
  border-radius: 2.1rem;
  height: 4.2rem;
  padding: 0 3rem;
  cursor: pointer;
}
button.pp-button a, button.pp-button-active a {
  border: none;
  text-transform: uppercase;
  display: block;
  min-height: auto;
  min-width: auto;
  padding: 0;
  text-decoration: none;
}
button.pp-button a, button.pp-button a:active, button.pp-button a:visited, button.pp-button-active a, button.pp-button-active a:active, button.pp-button-active a:visited {
  color: inherit;
}
button.pp-button a::before, button.pp-button a::after, button.pp-button-active a::before, button.pp-button-active a::after {
  content: none;
}
button.pp-button,
button.pp-button a, button.pp-button-active,
button.pp-button-active a {
  background: none;
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
}
button.pp-button-active, button.pp-button:hover {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
  transition: all 0.15s ease-in-out;
}
button.pp-button[disabled=true] {
  opacity: 0.5;
  pointer-events: none;
}

h2,
p {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
}

img.drop-shadow {
  filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.25));
}

:root {
  --pp-rounded-corners: 20px;
}

img.rounded {
  border-radius: var(--pp-rounded-corners);
}
