:root {
  --pp-font-heading-family: "AzeretMono";
  --pp-font-body-family: "XanhMono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 769px) {
  :root {
    --pp-font-heading-size: 4rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --pp-font-heading-size: 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --pp-font-heading-size: 1.4rem;
  }
}
@media screen and (min-width: 769px) {
  :root {
    --pp-font-body-size: 2.4rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --pp-font-body-size: 1.65rem;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --pp-font-body-size: 1.2rem;
  }
}
@media screen and (min-width: 769px) {
  :root {
    --pp-x-padding: 3.2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --pp-x-padding: 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --pp-x-padding: 1.6rem;
  }
}
@media screen and (min-width: 769px) {
  :root {
    --pp-y-padding: 4.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --pp-y-padding: 3rem;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --pp-y-padding: 1.5rem;
  }
}
:root ul li {
  list-style-type: none;
}
:root a,
:root a:active,
:root a:visited {
  color: rgb(var(--color-foreground));
}
:root #shop-hcaptcha-badge-container {
  display: none !important;
}

button.pp-button {
  color: rgb(var(--color-foreground));
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
button.pp-button, button.pp-button-active {
  border-radius: 2.1rem;
  height: 4.2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--color-foreground));
  cursor: pointer;
  border-radius: calc(var(--button-height) / 2);
  height: var(--button-height);
  border-width: var(--border-width);
}
button.pp-button span,
button.pp-button a, button.pp-button-active span,
button.pp-button-active a {
  border: none;
  text-transform: uppercase;
  display: block;
  min-height: auto;
  min-width: auto;
  text-decoration: none;
}
button.pp-button span, button.pp-button span:active, button.pp-button span:visited,
button.pp-button a,
button.pp-button a:active,
button.pp-button a:visited, button.pp-button-active span, button.pp-button-active span:active, button.pp-button-active span:visited,
button.pp-button-active a,
button.pp-button-active a:active,
button.pp-button-active a:visited {
  color: inherit;
}
button.pp-button span::before, button.pp-button span::after,
button.pp-button a::before,
button.pp-button a::after, button.pp-button-active span::before, button.pp-button-active span::after,
button.pp-button-active a::before,
button.pp-button-active a::after {
  content: none;
}
button.pp-button,
button.pp-button span,
button.pp-button a, button.pp-button-active,
button.pp-button-active span,
button.pp-button-active a {
  background: none;
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
}
@media screen and (min-width: 769px) {
  button.pp-button, button.pp-button-active {
    --button-height: 4.2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  button.pp-button, button.pp-button-active {
    --button-height: 3.2rem;
  }
}
@media screen and (max-width: 480px) {
  button.pp-button, button.pp-button-active {
    --button-height: 2.5rem;
  }
}
@media screen and (min-width: 769px) {
  button.pp-button, button.pp-button-active {
    --border-width: 1px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  button.pp-button, button.pp-button-active {
    --border-width: 1px;
  }
}
@media screen and (max-width: 480px) {
  button.pp-button, button.pp-button-active {
    --border-width: 0.5px;
  }
}
@media screen and (min-width: 769px) {
  button.pp-button, button.pp-button-active {
    --x-padding: 3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  button.pp-button, button.pp-button-active {
    --x-padding: 2.25rem;
  }
}
@media screen and (max-width: 480px) {
  button.pp-button, button.pp-button-active {
    --x-padding: 1.5rem;
  }
}
@media screen and (min-width: 769px) {
  button.pp-button, button.pp-button-active {
    --font-size: var(--pp-font-body-size);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  button.pp-button, button.pp-button-active {
    --font-size: var(--pp-font-body-size);
  }
}
@media screen and (max-width: 480px) {
  button.pp-button, button.pp-button-active {
    --font-size: 1.2rem;
  }
}
button.pp-button span,
button.pp-button a, button.pp-button-active span,
button.pp-button-active a {
  padding: calc((var(--button-height) - var(--pp-font-body-size) * 1.12) / 2) var(--x-padding);
  font-size: var(--font-size);
}
button.pp-button-active, button.pp-button:hover {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
button.pp-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

h2,
p {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
}

img.drop-shadow {
  filter: drop-shadow(var(--offset) var(--offset) var(--blur) rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 769px) {
  img.drop-shadow {
    --offset: 1px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  img.drop-shadow {
    --offset: 0.6;
  }
}
@media screen and (max-width: 480px) {
  img.drop-shadow {
    --offset: 0.4px;
  }
}
@media screen and (min-width: 769px) {
  img.drop-shadow {
    --blur: 15px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  img.drop-shadow {
    --blur: 10px;
  }
}
@media screen and (max-width: 480px) {
  img.drop-shadow {
    --blur: 4px;
  }
}

@media screen and (min-width: 769px) {
  :root {
    --pp-rounded-corners: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --pp-rounded-corners: 15px;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --pp-rounded-corners: 10px;
  }
}

img.rounded {
  border-radius: var(--pp-rounded-corners);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .desktop-only {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .non-desktop-only {
    display: none;
  }
}
