.pp-cart .pp-cart-items-title {
  padding: var(--pp-y-padding) var(--pp-x-padding) var(--pp-x-padding);
  width: 100%;
}
@media screen and (min-width: 769px) {
  .pp-cart .pp-cart-items-title {
    --padding-top: 14rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-cart .pp-cart-items-title {
    --padding-top: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-cart .pp-cart-items-title {
    --padding-top: 3rem;
  }
}
.pp-cart .pp-cart-items-title h1 {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pp-cart table.pp-cart-items-table tbody, .pp-cart table.pp-cart-items-table tr, .pp-cart table.pp-cart-items-table td {
  border: none;
  box-shadow: none;
}
.pp-cart table.pp-cart-items-table tbody a, .pp-cart table.pp-cart-items-table tr a, .pp-cart table.pp-cart-items-table td a {
  text-decoration: none;
}
.pp-cart table.pp-cart-items-table tbody a, .pp-cart table.pp-cart-items-table tbody a div, .pp-cart table.pp-cart-items-table tbody a h4, .pp-cart table.pp-cart-items-table tr a, .pp-cart table.pp-cart-items-table tr a div, .pp-cart table.pp-cart-items-table tr a h4, .pp-cart table.pp-cart-items-table td a, .pp-cart table.pp-cart-items-table td a div, .pp-cart table.pp-cart-items-table td a h4 {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
}
.pp-cart table.pp-cart-items-table tr {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: stretch;
  gap: 3.5rem;
  width: 100vw;
}
.pp-cart table.pp-cart-items-table td {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}
.pp-cart table.pp-cart-items-table td h4,
.pp-cart table.pp-cart-items-table td p {
  margin: 0;
}
.pp-cart td.pp-cart-item-image {
  width: 330px;
}
.pp-cart td.pp-cart-item-image a {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.pp-cart td.pp-cart-item-image img {
  width: 330px;
  max-width: none;
}
.pp-cart td.pp-cart-item-details {
  margin-right: auto;
}
.pp-cart td.pp-cart-item-details p {
  margin-top: 0.25rem;
}
.pp-cart td.pp-cart-item-price {
  margin-right: var(--pp-x-padding);
}
