@use './scss/typography' as *;
@use './scss/layout' as *;

.pp-cart-footer {
  @include breakpoint-value(--padding-top, 18rem, 6rem, 4rem);
  @include breakpoint-value(--padding-bottom, 24rem, 18rem, 14rem);
  padding: var(--padding-top) 0 var(--padding-bottom);

  &.is-empty {
    padding: 0;
  }

  .cart__footer {
    @include main-container;
    justify-content: flex-end;

    .totals {
      justify-content: flex-end;

      h2,
      p {
        @include pp-body-type;
      }

      h2 {
        @include breakpoint-value(--quantity-width, $cart-quantity-desktop-width, $cart-quantity-tablet-width, $cart-quantity-mobile-width);
        width: var(--quantity-width);
      }

      p {
        @include breakpoint-value(--margin-left, 2rem, 0, 0);
        @include breakpoint-value(--min-width, $cart-price-desktop-width, $cart-price-non-desktop-width, $cart-price-non-desktop-width);
        text-align: right;
        flex: none;
        min-width: var(--min-width);
        margin-left: var(--margin-left);
      }
    }

    >* {
      width: initial;
    }
  }

  .cart__ctas {
    @include flex(flex-end, flex-end);
    @include breakpoint-value(--padding-top, 6rem, 4rem, 2rem);
    padding-top: var(--padding-top);

    button {
      width: fit-content;
      @include button-padding;
    }
  }

}