@use './scss/typography' as *;
@use './scss/layout' as *;

.pp-cart-items {
  .pp-cart-items-title {
    @include breakpoint-value(--padding-top, 14rem, 8rem, 3rem);
    @include main-container(var(--padding-top), var(--pp-y-padding));

    h1 {
      @include pp-body-type;
      @include flex(space-between);
      margin: 0;
    }
  }

  .cart__items {
    border: none;

  }

  table.pp-cart-items-table {

    & tbody,
    & tr,
    & td {
      border: none;
      box-shadow: none;


      a {
        text-decoration: none;

        &,
        & div,
        & h4 {
          @include pp-body-type;
        }
      }
    }

    tr {
      @include flex(flex-start, flex-end);
      gap: 3.5rem;
      width: 100vw;
      height: fit-content;

      &:not(:first-child) {
        margin-top: 4rem;
      }
    }

    td {
      @include flex(center, flex-end);
      flex-direction: row;
      height: fit-content;

      h4,
      p {
        margin: 0;
      }

      &.pp-cart-item-price {
        justify-content: flex-end;
      }

      &.pp-cart-item-quantity {
        justify-content: flex-start;
      }
    }

    td.pp-cart-item-details {
      height: 100%;
    }
  }

  td.pp-cart-item-image {
    a {
      display: flex;
      width: fit-content;
      height: fit-content;
    }

    img {
      width: 100%;
      max-width: none;
    }
  }

  td.pp-cart-item-details {
    margin-right: auto;
    padding: 0;
    width: auto;

    p {
      margin-top: 0.25rem;
    }
  }


  td.pp-cart-item-quantity {
    padding: 0;
    width: 30rem;

    .quantity-popover-container {
      padding: 0;

      quantity-input {
        &.quantity {
          min-height: auto;
        }

        &::before,
        &::after {
          content: '';
          display: none;
        }

        button,
        input {
          @include pp-body-type;
        }

        input.quantity__input:focus-visible {
          outline: none;
          box-shadow: none;
        }

        .svg-wrapper {
          font-size: 4rem;
          padding-bottom: 0.5rem;
        }
      }
    }

    .cart-item__error {
      margin: 0;
      @include pp-body-type;
      position: absolute;
      padding-top: 1.25rem;
    }
  }

  td.pp-cart-item-price {
    margin-right: var(--pp-x-padding);
    padding: 0;
    width: 5vw;

    span {
      @include pp-body-type;
    }

    .loading__spinner {
      padding-top: 0;
      top: auto;
      height: 18px;
    }
  }
}