@use './scss/typography' as *;
@use './scss/layout' as *;

.pp-full-width-video {
  position: relative;
  display: flex;
  cursor: pointer;

  @include breakpoint-value(--padding-top, 3rem, 0, 0);
  @include breakpoint-value(--padding-bottom, 3rem, $y-tablet-padding, $y-mobile-padding);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  img,
  video {
    width: $main-container-width;
    margin: 0 var(--pp-x-padding);

    border-radius: var(--pp-rounded-corners);
  }

  svg {
    @include flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    border-radius: 100%;
    z-index: 9;

    @include breakpoint-value(--width, 125px, 85px, 40px);

    circle {
      fill: rgba(var(--color-background));
    }

    path {
      fill: rgba(var(--color-foreground));
    }

    transition: opacity 0.1s ease-in-out;
  }
}