.pp-full-width-video {
  position: relative;
  display: flex;
  cursor: pointer;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
@media screen and (min-width: 769px) {
  .pp-full-width-video {
    --padding-top: 3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-full-width-video {
    --padding-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .pp-full-width-video {
    --padding-top: 0;
  }
}
@media screen and (min-width: 769px) {
  .pp-full-width-video {
    --padding-bottom: 3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-full-width-video {
    --padding-bottom: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-full-width-video {
    --padding-bottom: 2rem;
  }
}
.pp-full-width-video img,
.pp-full-width-video video {
  width: calc(100vw - var(--pp-x-padding) * 2);
  margin: 0 var(--pp-x-padding);
  border-radius: var(--pp-rounded-corners);
}
.pp-full-width-video svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border-radius: 100%;
  z-index: 9;
  transition: opacity 0.1s ease-in-out;
}
@media screen and (min-width: 769px) {
  .pp-full-width-video svg {
    --width: 125px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-full-width-video svg {
    --width: 85px;
  }
}
@media screen and (max-width: 480px) {
  .pp-full-width-video svg {
    --width: 40px;
  }
}
.pp-full-width-video svg circle {
  fill: rgba(var(--color-background));
}
.pp-full-width-video svg path {
  fill: rgba(var(--color-foreground));
}
