@use './scss/typography' as *;
@use './scss/layout' as *;

.pp-full-width-video {
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 3rem 0;

  @media #{$mobile} {
    padding-top: 0;
    padding-bottom: $y-mobile-padding;
  }

  img,
  video {
    width: $main-container-width;
    margin: 0 var(--pp-x-padding);

    border-radius: var(--pp-rounded-corners);
  }

  svg {
    @include flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
    aspect-ratio: 1;
    border-radius: 100%;
    z-index: 9;

    @media #{$mobile} {
      width: 40px;
    }

    circle {
      fill: rgba(var(--color-background));
    }

    path {
      fill: rgba(var(--color-foreground));
    }

    transition: opacity 0.1s ease-in-out;
  }
}