@use './scss/layout' as *;
@use './scss/typography' as *;
@use 'sass:math';

$emblem-height-to-width-ratio: math.div(535, 433);

.pp-hero {
  @include flex;
  width: $main-container-width;
  height: fit-content;

  margin: 0 auto;

  // TODO
  @media #{$desktop} {
    padding: 4rem 0 1rem;

    .pp-hero-inner {
      max-width: 114rem;
      min-height: 433px;

      svg {
        max-width: 535px;
        height: 433px;
      }
    }
  }

  @media #{$mobile} {
    padding: 5rem 0;

    .pp-hero-inner {
      max-width: 36rem;
      min-height: 149px;

      svg {
        max-width: 184px;
        height: 149px;
      }
    }
  }

  .pp-hero-inner {
    @include flex;
    position: relative;

    h3 {
      @include pp-heading-type;
      letter-spacing: 0.01em;
      line-height: 1.1667;
      text-align: center;
      margin: 0;
    }

    svg {
      position: absolute;
      top: 0;
    }
  }
}