.pp-hero {
  padding: 40px 0 10px;
}
.pp-hero .pp-hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36.4205607477vw;
  max-height: 433px;
  max-width: 1140px;
  width: calc(100vw - 6.4rem);
  height: fit-content;
  margin: 0 auto;
  padding: 14rem 0;
  position: relative;
}
.pp-hero .pp-hero-inner h3 {
  font-family: var(--pp-font-heading-family);
  font-weight: normal;
  font-size: var(--pp-font-heading-size);
  line-height: 1.12;
  letter-spacing: 0.01em;
  line-height: 1.1667;
  text-align: center;
  margin: 0;
}
.pp-hero .pp-hero-inner svg {
  max-width: 535px;
  position: absolute;
  top: 0;
  /*       transform: translateY(-50%); */
}
