@use './scss/layout' as *;
@use './scss/typography' as *;
@use 'sass:math';

$emblem-height-to-width-ratio: math.div(535, 433);

.pp-hero {
  @include flex;
  width: $main-container-width;
  height: fit-content;

  margin: 0 auto;

  @include breakpoint-value(--height, 433px, 292px, 149px);
  @include breakpoint-value(--text-max-width, 114rem, 64rem, 56rem);
  @include breakpoint-value(--padding-top, 4rem, 4rem, 5rem);
  @include breakpoint-value(--padding-bottom, 1rem, 1rem, 0);

  padding: var(--padding-top) 0 var(--padding-bottom);

  .pp-hero-inner {
    max-width: var(--text-max-width);
    min-height: var(--height);

    svg {
      max-width: calc(var(--height) * $emblem-height-to-width-ratio);
      height: var(--height);
    }
  }

  .pp-hero-inner {
    @include flex;
    position: relative;

    h3 {
      @include pp-heading-type;
      letter-spacing: 0.01em;
      line-height: 1.1667;
      text-align: center;
      margin: 0;
    }

    svg {
      position: absolute;
      top: 0;
    }
  }
}