@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-image-grid {
  @include main-container;
  display: grid;
  @include breakpoint-value(--padding-top, 3rem, 0, 0);
  @include breakpoint-value(--padding-bottom, 3rem, $y-tablet-padding, $y-mobile-padding);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  $gap: desktop-dynamic-size($x-padding-desktop, 4.8rem);
  gap: $gap;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 1440px) {
    gap: 4.8rem;
  }

  @media (max-width: 1024px) {
    gap: 3rem
  }

  @include breakpoint-value(--column-count, var(--desktop-columns), var(--mobile-columns), var(--mobile-columns));
  grid-template-columns: repeat(var(--column-count), 1fr);

  @media #{$tablet} {
    gap: $y-tablet-padding;
  }

  @media #{$mobile} {
    gap: $y-mobile-padding;
  }

  .pp-subpage-img-container {
    margin-bottom: 0;
  }
}