@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-image-grid {
  @include main-container;
  display: grid;
  grid-template-columns: repeat(var(--desktop-columns), 1fr);
  padding-top: 3rem;
  padding-bottom: 3rem;
  $gap: dynamic-size($x-padding-desktop, 4.8rem);
  gap: $gap;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 1440px) {
    gap: 4.8rem;
  }

  @media (max-width: 1024px) {
    gap: 3rem
  }

  @media #{$mobile} {
    grid-template-columns: repeat(var(--mobile-columns), 1fr);
    gap: $y-mobile-padding;
    padding-top: 0;
    padding-bottom: $y-mobile-padding;
  }

  .pp-subpage-img-container {
    margin-bottom: 0;
  }
}