.pp-landing-section .pp-landing-section-image-container {
  display: flex;
  width: 100vw;
  overflow: hidden;
}
.pp-landing-section .pp-landing-section-image-container img {
  height: auto;
}
.pp-landing-section h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-top) var(--pp-x-padding) var(--pp-y-padding);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin: 0;
}
@media screen and (min-width: 769px) {
  .pp-landing-section h2 {
    --padding-top: 14rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-landing-section h2 {
    --padding-top: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-landing-section h2 {
    --padding-top: 7rem;
  }
}
.pp-landing-section .pp-landing-section-text-container p,
.pp-landing-section .pp-landing-section-text-container > div {
  position: relative;
  left: calc(50vw - var(--pp-x-padding));
}
.pp-landing-section .pp-landing-section-text-container p {
  width: calc(50vw + var(--pp-x-padding));
  margin: 0;
  padding: var(--pp-y-padding) var(--pp-x-padding) 0;
  text-indent: var(--text-indent);
}
@media screen and (min-width: 769px) {
  .pp-landing-section .pp-landing-section-text-container p {
    --text-indent: calc(-1 * $left);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-landing-section .pp-landing-section-text-container p {
    --text-indent: 0;
  }
}
@media screen and (max-width: 480px) {
  .pp-landing-section .pp-landing-section-text-container p {
    --text-indent: 0;
  }
}
.pp-landing-section .pp-landing-section-text-container > div {
  padding: var(--padding-top) var(--pp-x-padding) var(--padding-bottom);
}
@media screen and (min-width: 769px) {
  .pp-landing-section .pp-landing-section-text-container > div {
    --padding-top: 3.2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-landing-section .pp-landing-section-text-container > div {
    --padding-top: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-landing-section .pp-landing-section-text-container > div {
    --padding-top: 1.5rem;
  }
}
@media screen and (min-width: 769px) {
  .pp-landing-section .pp-landing-section-text-container > div {
    --padding-bottom: 5.6rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-landing-section .pp-landing-section-text-container > div {
    --padding-bottom: 3.5rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-landing-section .pp-landing-section-text-container > div {
    --padding-bottom: 2.5rem;
  }
}
.pp-landing-section .pp-landing-section-button-container {
  width: fit-content;
}
