@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-landing-section {
  .pp-landing-section-image-container {
    display: flex;
    width: 100vw;
    overflow: hidden;

    img {
      height: auto;
    }
  }

  h2 {
    @include flex(space-between, center);
    @include main-container(14rem, $y-padding);
    letter-spacing: 0.01em;
    margin: 0;
    text-transform: uppercase;
  }

  $left: calc(50vw - $x-padding);

  .pp-landing-section-text-container {

    p,
    >div {
      position: relative;
      left: $left;
    }

    p {
      width: calc(50vw + $x-padding);
      margin: 0;
      padding: $y-padding $x-padding 0;
      text-indent: calc(-1 * $left);
    }

    >div {
      padding: 3.2rem $x-padding 5.6rem;
    }
  }

  .pp-landing-section-button-container {
    width: fit-content;
  }
}