.pp-landing-section .pp-landing-section-image-container {
  display: flex;
  width: 100vw;
  overflow: hidden;
}
.pp-landing-section .pp-landing-section-image-container img {
  height: auto;
}
.pp-landing-section h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.01em;
  margin: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 421px) {
  .pp-landing-section h2 {
    padding: 14rem var(--pp-x-padding) var(--pp-y-padding);
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .pp-landing-section h2 {
    padding: 3rem var(--pp-x-padding) var(--pp-y-padding);
    width: 100%;
  }
}
.pp-landing-section .pp-landing-section-text-container p,
.pp-landing-section .pp-landing-section-text-container > div {
  position: relative;
  left: calc(50vw - var(--pp-x-padding));
}
.pp-landing-section .pp-landing-section-text-container p {
  width: calc(50vw + var(--pp-x-padding));
  margin: 0;
  padding: var(--pp-y-padding) var(--pp-x-padding) 0;
  text-indent: calc(-1 * (50vw - var(--pp-x-padding)));
}
@media screen and (max-width: 420px) {
  .pp-landing-section .pp-landing-section-text-container p {
    text-indent: 0;
  }
}
.pp-landing-section .pp-landing-section-text-container > div {
  padding: 3.2rem var(--pp-x-padding) 5.6rem;
}
@media screen and (max-width: 420px) {
  .pp-landing-section .pp-landing-section-text-container > div {
    padding: 1.5rem var(--pp-x-padding) 2.5rem;
  }
}
.pp-landing-section .pp-landing-section-button-container {
  width: fit-content;
}
