@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-landing-section {
  .pp-landing-section-image-container {
    @include flex;

    img {
      flex-grow: 1;
    }
  }

  h2 {
    @include flex(space-between, center);
    @include main-container(14rem, $y-padding);
    letter-spacing: 0.01em;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    $left: calc(50vw - $x-padding);
    width: calc(50vw + $x-padding);
    margin: 0;
    padding: $y-padding $x-padding 5.6rem;
    text-indent: calc(-1 * $left);
    position: relative;
    left: $left;
  }

  button {
    margin-top: 3.2rem;
  }
}