.pp-landing-section .pp-landing-section-image-container {
  display: flex;
  width: 100vw;
  overflow: hidden;
}
.pp-landing-section .pp-landing-section-image-container img {
  height: auto;
}
.pp-landing-section h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14rem 3.2rem 4.5rem;
  width: 100%;
  letter-spacing: 0.01em;
  margin: 0;
  text-transform: uppercase;
}
.pp-landing-section .pp-landing-section-text-container p,
.pp-landing-section .pp-landing-section-text-container > div {
  position: relative;
  left: calc(50vw - 3.2rem);
}
.pp-landing-section .pp-landing-section-text-container p {
  width: calc(50vw + 3.2rem);
  margin: 0;
  padding: 4.5rem 3.2rem 0;
  text-indent: calc(-1 * (50vw - 3.2rem));
}
.pp-landing-section .pp-landing-section-text-container > div {
  padding: 3.2rem 3.2rem 5.6rem;
}
