.pp-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pp-newsletter .pp-newsletter-inner {
  max-width: 88.5rem;
  padding: 23.5rem 0;
}
.pp-newsletter .pp-newsletter-inner h2 {
  font-family: var(--pp-font-heading-family);
  font-weight: normal;
  font-size: var(--pp-font-heading-size);
  line-height: 1.12;
}
.pp-newsletter .pp-newsletter-inner p {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
  padding: 3.2rem 0;
}
.pp-newsletter .pp-newsletter-inner h2,
.pp-newsletter .pp-newsletter-inner p {
  text-align: center;
  margin: 0;
}
.pp-newsletter .pp-newsletter-form-wrapper {
  margin-top: 1.4rem;
}
.pp-newsletter .pp-newsletter-form-wrapper form {
  margin: 0;
  max-width: initial;
}
.pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus-visible {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.12;
  height: 4rem;
  max-width: 37.5rem;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 1rem;
}
.pp-newsletter .pp-newsletter-form-field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.4rem;
}
