@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-newsletter {
  @include flex;

  .pp-newsletter-inner {
    @include breakpoint-value(--max-width, 88.5rem, 40rem, 27.5rem);
    @include breakpoint-value(--padding-top, 23.5rem, 18rem, 12.5rem);
    max-width: var(--max-width);
    padding: var(--padding-top) 0;

    h2 {
      @include pp-heading-type;
    }

    p {
      @include pp-body-type;
      @include breakpoint-value(--padding-top, 3.2rem, 2.2rem, 1.2rem);
      @include breakpoint-value(--padding-bottom, 3.2rem, 2.5rem, 1.8rem);
      padding: var(--padding-top) 0 var(--padding-bottom);
    }

    h2,
    p {
      text-align: center;
      margin: 0;
    }
  }

  .pp-newsletter-form-wrapper {
    margin-top: 1.4rem;

    form {
      margin: 0;
      max-width: initial;
    }

    .pp-newsletter-form-email {
      @include breakpoint-value(--width, 375px, 300px, 220px);
      width: var(--width);

      &,
      &:focus,
      &:focus-visible {
        @include pp-body-type;
        @include breakpoint-value(--height, 4rem, 3.2rem, 2.5rem);
        height: var(--height);

        border: none;
        outline: none;
        box-shadow: none;

        padding: 0 1rem;
      }
    }
  }

  .pp-newsletter-form-field-wrapper {
    @include flex;
    @include breakpoint-value(--gap, 2.4rem, 2.1rem, 1.5rem);
    @include breakpoint-value(--flex-direction, row, column, column);
    width: 100%;
    gap: var(--gap);
    flex-direction: var(--flex-direction);
  }
}