@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-newsletter {
  @include flex;

  .pp-newsletter-inner {
    max-width: 88.5rem;
    padding: 23.5rem 0;

    h2 {
      @include pp-heading-type;
    }

    p {
      @include pp-body-type;
      padding: 3.2rem 0;
    }

    h2,
    p {
      text-align: center;
      margin: 0;
    }
  }

  .pp-newsletter-form-wrapper {
    margin-top: 1.4rem;

    form {
      margin: 0;
      max-width: initial;
    }

    .pp-newsletter-form-email {

      &,
      &:focus,
      &:focus-visible {
        @include pp-body-type;
        height: 4rem;
        max-width: 37.5rem;
        width: 100%;
        border: none;
        outline: none;
        box-shadow: none;

        padding: 0 1rem;
      }
    }
  }

  .pp-newsletter-form-field-wrapper {
    @include flex;
    width: 100%;
    gap: 2.4rem;


  }
}