@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-newsletter {
  @include flex;

  .pp-newsletter-inner {
    max-width: 88.5rem;
    padding: 23.5rem 0;

    @media #{$mobile} {
      max-width: 27.5rem;
      padding: 12.5rem 0;
    }

    h2 {
      @include pp-heading-type;
    }

    p {
      @include pp-body-type;
      padding: 3.2rem 0;

      @media #{$mobile} {
        padding: 1.2rem 0 1.8rem;
      }
    }

    h2,
    p {
      text-align: center;
      margin: 0;
    }
  }

  .pp-newsletter-form-wrapper {
    margin-top: 1.4rem;

    form {
      margin: 0;
      max-width: initial;
    }

    .pp-newsletter-form-email {
      width: 375px;

      @media #{$mobile} {
        width: 220px;
      }

      &,
      &:focus,
      &:focus-visible {
        @include pp-body-type;
        height: 4rem;

        @media #{$mobile} {
          height: 2.5rem;
        }

        border: none;
        outline: none;
        box-shadow: none;

        padding: 0 1rem;
      }
    }
  }

  .pp-newsletter-form-field-wrapper {
    @include flex;
    width: 100%;
    gap: 2.4rem;

    @media #{$mobile} {
      flex-direction: column;
      gap: 2.1rem;
    }

  }
}