.pp-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pp-newsletter .pp-newsletter-inner {
  max-width: var(--max-width);
  padding: var(--padding-top) 0;
}
@media screen and (min-width: 769px) {
  .pp-newsletter .pp-newsletter-inner {
    --max-width: 88.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-newsletter .pp-newsletter-inner {
    --max-width: 40rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-newsletter .pp-newsletter-inner {
    --max-width: 27.5rem;
  }
}
@media screen and (min-width: 769px) {
  .pp-newsletter .pp-newsletter-inner {
    --padding-top: 23.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-newsletter .pp-newsletter-inner {
    --padding-top: 18rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-newsletter .pp-newsletter-inner {
    --padding-top: 12.5rem;
  }
}
.pp-newsletter .pp-newsletter-inner h2 {
  font-family: var(--pp-font-heading-family);
  font-weight: normal;
  font-size: var(--pp-font-heading-size);
  line-height: var(--main-line-height);
}
.pp-newsletter .pp-newsletter-inner p {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: var(--main-line-height);
  padding: var(--padding-top) 0 var(--padding-bottom);
}
@media screen and (min-width: 769px) {
  .pp-newsletter .pp-newsletter-inner p {
    --padding-top: 3.2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-newsletter .pp-newsletter-inner p {
    --padding-top: 2.2rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-newsletter .pp-newsletter-inner p {
    --padding-top: 1.2rem;
  }
}
@media screen and (min-width: 769px) {
  .pp-newsletter .pp-newsletter-inner p {
    --padding-bottom: 3.2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-newsletter .pp-newsletter-inner p {
    --padding-bottom: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-newsletter .pp-newsletter-inner p {
    --padding-bottom: 1.8rem;
  }
}
.pp-newsletter .pp-newsletter-inner h2,
.pp-newsletter .pp-newsletter-inner p {
  text-align: center;
  margin: 0;
}
.pp-newsletter .pp-newsletter-form-wrapper {
  margin-top: 1.4rem;
}
.pp-newsletter .pp-newsletter-form-wrapper form {
  margin: 0;
  max-width: initial;
}
.pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email {
  width: var(--width);
}
@media screen and (min-width: 769px) {
  .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email {
    --width: 375px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email {
    --width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email {
    --width: 220px;
  }
}
.pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus-visible {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: var(--main-line-height);
  height: var(--height);
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 1rem;
}
@media screen and (min-width: 769px) {
  .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus-visible {
    --height: 4rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus-visible {
    --height: 3.2rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus, .pp-newsletter .pp-newsletter-form-wrapper .pp-newsletter-form-email:focus-visible {
    --height: 2.5rem;
  }
}
.pp-newsletter .pp-newsletter-form-field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--gap);
  flex-direction: var(--flex-direction);
}
@media screen and (min-width: 769px) {
  .pp-newsletter .pp-newsletter-form-field-wrapper {
    --gap: 2.4rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-newsletter .pp-newsletter-form-field-wrapper {
    --gap: 2.1rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-newsletter .pp-newsletter-form-field-wrapper {
    --gap: 1.5rem;
  }
}
@media screen and (min-width: 769px) {
  .pp-newsletter .pp-newsletter-form-field-wrapper {
    --flex-direction: row;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-newsletter .pp-newsletter-form-field-wrapper {
    --flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .pp-newsletter .pp-newsletter-form-field-wrapper {
    --flex-direction: column;
  }
}
