@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-pull-quote {

  @mixin size-to-emblem {
    height: $emblem-height;
    max-height: $emblem-max-height;
  }

  padding: 14rem 0;

  .pp-pull-quote-inner {
    @include flex;
    flex-direction: column;

    max-width: 885px;
    margin: 0 auto;
    position: relative;

    h4 {
      @include pp-heading-type;
      letter-spacing: 0.01em;
      text-align: center;
      margin: 3rem 0;
    }

    p {
      margin: 0;
    }

    svg {
      width: 70px;
    }
  }
}