@use './scss/layout' as *;

.pp-stockists {
  display: flex;
  @include main-container(var(--pp-y-padding), 13.5rem);
  position: relative;
  overflow: hidden;
  margin-top: 14rem;

  @media #{$mobile} {
    margin-top: 0;
    @include main-container(var(--pp-y-padding), 8rem);
  }


  h2,
  p {
    font-family: var(--pp-font-heading-family);
    font-size: var(--pp-font-body-size);
    line-height: 1.167em;
    letter-spacing: 0.01em;
    margin: 0;
  }


  p {
    margin: 0;
    line-height: 1.4;

    a.pp-stockists-link {

      &,
      &:hover,
      &:active {
        text-decoration: none;
        color: inherit;
      }
    }

  }

  h2,
  div {
    width: 50vw;
  }

  .pp-stockists-background {
    position: absolute;
    width: calc(100vw + 30px);
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    z-index: -1;

    path {
      stroke-width: 1px;
    }
  }
}