@use './scss/typography' as *;
@use './scss/layout' as *;

.pp-subpage-img-container {
  display: flex;
  flex-direction: column;
  @include breakpoint-value(--margin-bottom, 0, $y-tablet-padding, $y-mobile-padding);
  margin-bottom: var(--margin-bottom);
}

p.pp-subpage-img-caption {
  @include pp-caption-type;
  @include breakpoint-value(--margin-top, 2rem, 2rem, 1.5rem);
  @include breakpoint-value(--margin-bottom, 2rem, 4rem, 3rem);
  margin: var(--margin-top) 0 var(--margin-bottom);
}

h2.pp-subpage-section-title {
  width: $main-container-width;
  opacity: 0;

  >span {
    @include flex(space-between);
    width: $main-container-width;

    &.pp-subpage-section-title-single-word {
      justify-content: center;
    }

    >.pp-subpage-section-title-broken-line {
      margin-left: auto;
    }
  }
}