@use './scss/layout' as *;
@use './scss/typography' as *;

section:not(:first-child) h1 {
  display: none;
}

.pp-subpage-section {
  &:first-of-type {
    .pp-subpage-section-dot {
      margin-top: 20rem;
    }
  }

  &:not(:first-of-type) {
    .pp-subpage-section-dot {
      margin-top: 40rem;
    }
  }

  .pp-subpage-section-header-container {
    @include main-container;
    @include flex;
    flex-direction: column;

    .pp-subpage-section-dot {
      display: block;
      width: 4.3rem;
      height: 4.3rem;
      background-color: rgb(var(--pp-dot-color));
      border-radius: 100%;
      margin-bottom: 1.5rem;
    }


    h1 {
      @include pp-body-type;
      line-height: 0.87;
      width: 100%;
      text-align: center;
    }

    h2 {
      font-family: var(--pp-font-heading-family);
      font-size: 17.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      line-height: 0.87;
      margin: 7.5rem 0 4rem;
    }
  }

  .pp-subpage-section-image-container {
    position: relative;
  }

  img {
    width: 100%;
    display: flex;
  }

  .pp-subpage-section-tinted-header {
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      display: block;

      &:first-child {
        background-color: rgba(var(--color-background));
        mix-blend-mode: multiply;
      }

      &:nth-child(2) {
        background-color: rgba(var(--color-foreground));
        mix-blend-mode: screen;
      }
    }

    img {
      filter: grayscale(100%);
    }
  }

  .pp-subpage-section-date {
    @include main-container;
    @include flex(space-between);
    margin-top: 3.75rem;
    margin-bottom: 5.25rem;
    line-height: 1.2;
  }

  .pp-subpage-section-caption {
    @include pp-body-type;
    padding-bottom: 6rem; // TODO
    position: relative;

    .pp-subpage-section-caption-temp {
      padding-left: $x-padding;
      width: $half-container-width;
      opacity: 0;
      position: fixed;
    }

    .pp-subpage-section-caption-equal-columns {
      @include main-container;
      column-count: 2;
      column-gap: 6rem;
      display: block;
      opacity: 0;
    }

    $left: calc(50vw - $x-padding);

    .pp-subpage-section-caption-left-column {
      width: 50vw;
      padding: 0 $x-padding 0 3rem;
    }

    .pp-subpage-section-caption-right-column {
      position: absolute;
      top: 0;
      left: 50vw;
      padding: 0 3rem 0 $x-padding;
      width: 50vw;
    }

    p {
      margin-top: 0;
      margin-bottom: 1.12em;
    }

    .pp-subpage-section-product-details {
      margin-top: 10rem;

      p {
        margin: 0;
      }

      p:last-of-type {
        margin-bottom: 2rem;
      }
    }
  }
}