.pp-subpage-img-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-bottom);
}
@media screen and (min-width: 769px) {
  .pp-subpage-img-container {
    --margin-bottom: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-img-container {
    --margin-bottom: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-img-container {
    --margin-bottom: 2rem;
  }
}

p.pp-subpage-img-caption {
  font-size: var(--font-size);
  line-height: 1.2;
  font-family: var(--pp-font-heading-family);
  letter-spacing: 0.01em;
  margin: var(--margin-top) 0 var(--margin-bottom);
}
@media screen and (min-width: 769px) {
  p.pp-subpage-img-caption {
    --font-size: 1.6rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  p.pp-subpage-img-caption {
    --font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  p.pp-subpage-img-caption {
    --font-size: 0.8rem;
  }
}
@media screen and (min-width: 769px) {
  p.pp-subpage-img-caption {
    --margin-top: 2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  p.pp-subpage-img-caption {
    --margin-top: 2rem;
  }
}
@media screen and (max-width: 480px) {
  p.pp-subpage-img-caption {
    --margin-top: 1.5rem;
  }
}
@media screen and (min-width: 769px) {
  p.pp-subpage-img-caption {
    --margin-bottom: 2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  p.pp-subpage-img-caption {
    --margin-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  p.pp-subpage-img-caption {
    --margin-bottom: 3rem;
  }
}

h2.pp-subpage-section-title {
  width: calc(100vw - var(--pp-x-padding) * 2);
  opacity: 0;
}
h2.pp-subpage-section-title > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - var(--pp-x-padding) * 2);
}
h2.pp-subpage-section-title > span.pp-subpage-section-title-single-word {
  justify-content: center;
}
h2.pp-subpage-section-title > span > .pp-subpage-section-title-broken-line {
  margin-left: auto;
}
