.pp-stockists {
  display: flex;
  padding: var(--pp-y-padding) var(--pp-x-padding) 13.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 14rem;
}
@media screen and (max-width: 420px) {
  .pp-stockists {
    margin-top: 0;
    padding: var(--pp-y-padding) var(--pp-x-padding) 8rem;
    width: 100%;
  }
}
.pp-stockists h2,
.pp-stockists p {
  font-family: var(--pp-font-heading-family);
  font-size: var(--pp-font-body-size);
  line-height: 1.167em;
  letter-spacing: 0.01em;
  margin: 0;
}
.pp-stockists p {
  margin: 0;
  line-height: 1.4;
}
.pp-stockists p a.pp-stockists-link, .pp-stockists p a.pp-stockists-link:hover, .pp-stockists p a.pp-stockists-link:active {
  text-decoration: none;
  color: inherit;
}
.pp-stockists h2,
.pp-stockists div {
  width: 50vw;
}
.pp-stockists .pp-stockists-background {
  position: absolute;
  width: calc(100vw + 30px);
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  z-index: -1;
}
.pp-stockists .pp-stockists-background path {
  stroke-width: 1px;
}
