@use './scss/layout' as *;
@use './scss/typography' as *;



section:not(:first-child) h1 {
  display: none;
}

.pp-subpage-section {
  &:first-of-type {
    .pp-subpage-section-dot {
      @include breakpoint-value(--margin-top, 20rem, 15rem, 10rem);
      margin-top: var(--margin-top);
    }
  }

  &:not(:first-of-type) {
    .pp-subpage-section-dot {
      @include breakpoint-value(--margin-top, 40rem, 25rem, 10rem);
      margin-top: var(--margin-top);
    }
  }

  .pp-subpage-section-header-container {
    @include main-container;
    @include flex;
    flex-direction: column;

    .pp-subpage-section-dot {
      display: block;
      aspect-ratio: 1;
      background-color: rgb(var(--pp-dot-color));
      border-radius: 100%;
      margin-bottom: 1.5rem;

      @include breakpoint-value(--width, 4.3rem, 3rem, 1.5rem);
      width: var(--width);
    }


    h1 {
      @include pp-body-type;
      line-height: 0.87;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }

    h2 {
      font-family: var(--pp-font-heading-family);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      line-height: 0.87;
      text-transform: lowercase;

      @include breakpoint-value(--font-size, 17.5rem, 7.5rem, 4.8rem);
      @include breakpoint-value(--margin-top, 7rem, 5.5rem, 4rem);
      @include breakpoint-value(--margin-bottom, 4rem, 2.25rem, 1.5rem);
      font-size: var(--font-size);
      margin: var(--margin-top) 0 var(--margin-bottom);

      @media screen and (min-width: #{$screen-tablet + 1px}) and (max-width: #{$screen-desktop-small}) {
        font-size: 10rem;
      }
    }
  }

  .pp-subpage-section-image-container {
    position: relative;

    img {
      width: 100%;
      display: flex;

      @include breakpoint-value(--height, '', 850px, 550px);
      height: var(--height);
      object-fit: cover;
    }
  }


  .pp-subpage-section-tinted-header {
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      display: block;

      &:first-child {
        background-color: rgba(var(--color-background));
        mix-blend-mode: multiply;
      }

      &:nth-child(2) {
        background-color: rgba(var(--color-foreground));
        mix-blend-mode: screen;
      }
    }

    img {
      filter: grayscale(100%);
    }
  }

  .pp-subpage-section-date {
    @include main-container;
    @include flex(space-between);

    @include breakpoint-value(--margin-top, 3.75rem, 2.2rem, 1.4rem);
    @include breakpoint-value(--margin-bottom, 5.25rem, 4rem, 3rem);
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    line-height: 1.2;
  }

  .pp-subpage-section-caption {
    @include pp-body-type;
    @include breakpoint-value(--padding-bottom, 6rem, 5rem, 4rem);
    padding-bottom: var(--padding-bottom);
    position: relative;

    .pp-subpage-section-caption-temp {
      padding-left: var(--pp-x-padding);
      opacity: 0;
      position: fixed;
      width: calc(50vw - $gap / 2 - var(--pp-x-padding));

      @media (min-width: 1440px) {
        width: calc(50vw - $gap-max / 2 - var(--pp-x-padding));
      }

      @media (max-width: 1024px) {
        width: calc(50vw - $gap-min / 2 - var(--pp-x-padding));
      }
    }

    .pp-subpage-section-caption-equal-columns {
      @include main-container;
      column-gap: $gap;

      @media (min-width: 1440px) {
        column-gap: $gap-max;
      }

      @media (max-width: 1024px) {
        column-gap: $gap-min;
      }

      display: block;
      opacity: 0;

      @include breakpoint-value(--visibility, auto, visible, visible);
      @include breakpoint-value(--opacity, 0, 1, 1);
      @include breakpoint-value(--column-count, 2, 1, 1);
      visibility: var(--visibility);
      opacity: var(--opacity);
      column-count: var(--column-count);
    }

    $left: calc(50vw - var(--pp-x-padding));

    .pp-subpage-section-caption-left-column,
    .pp-subpage-section-caption-right-column {
      width: 50vw;
      padding: 0 var(--pp-x-padding) 0;
    }

    .pp-subpage-section-caption-left-column {
      padding-right: calc($gap / 2);

      @media (min-width: 1440px) {
        padding-right: calc($gap-max / 2);
      }

      @media (max-width: 1024px) {
        padding-right: calc($gap-min / 2);
      }
    }

    .pp-subpage-section-caption-right-column {
      position: absolute;
      top: 0;
      left: 50vw;

      padding-left: calc($gap / 2);

      @media (min-width: 1440px) {
        padding-left: calc($gap-max / 2);
      }

      @media (max-width: 1024px) {
        padding-left: calc($gap-min / 2);
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 1.12em;
    }

    .pp-subpage-section-product-details {
      @include breakpoint-value(--margin-top, 10rem, 0, 0);

      &:not(:first-child) {
        margin-top: var(--margin-top);
      }

      @media #{$tablet} {
        @include flex(space-between);
      }

      @media #{$mobile} {
        @include flex(space-between);
      }

      p {
        margin: 0;
      }

      p:last-of-type {
        margin-bottom: calc(var(--pp-font-body-size) * var(--main-line-height));
      }
    }
  }
}