section:not(:first-child) h1 {
  display: none;
}

.pp-subpage-section:first-of-type .pp-subpage-section-dot {
  margin-top: var(--margin-top);
}
@media screen and (min-width: 769px) {
  .pp-subpage-section:first-of-type .pp-subpage-section-dot {
    --margin-top: 20rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section:first-of-type .pp-subpage-section-dot {
    --margin-top: 15rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section:first-of-type .pp-subpage-section-dot {
    --margin-top: 10rem;
  }
}
.pp-subpage-section:not(:first-of-type) .pp-subpage-section-dot {
  margin-top: var(--margin-top);
}
@media screen and (min-width: 769px) {
  .pp-subpage-section:not(:first-of-type) .pp-subpage-section-dot {
    --margin-top: 40rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section:not(:first-of-type) .pp-subpage-section-dot {
    --margin-top: 25rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section:not(:first-of-type) .pp-subpage-section-dot {
    --margin-top: 10rem;
  }
}
.pp-subpage-section .pp-subpage-section-header-container {
  padding: 0 var(--pp-x-padding) 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pp-subpage-section .pp-subpage-section-header-container .pp-subpage-section-dot {
  display: block;
  aspect-ratio: 1;
  background-color: rgb(var(--pp-dot-color));
  border-radius: 100%;
  margin-bottom: 1.5rem;
  width: var(--width);
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-header-container .pp-subpage-section-dot {
    --width: 4.3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-header-container .pp-subpage-section-dot {
    --width: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-header-container .pp-subpage-section-dot {
    --width: 1.5rem;
  }
}
.pp-subpage-section .pp-subpage-section-header-container h1 {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: var(--main-line-height);
  line-height: 0.87;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.pp-subpage-section .pp-subpage-section-header-container h2 {
  font-family: var(--pp-font-heading-family);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 0.87;
  text-transform: lowercase;
  font-size: var(--font-size);
  margin: var(--margin-top) 0 var(--margin-bottom);
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --font-size: 17.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --font-size: 7.5rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --font-size: 4.8rem;
  }
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --margin-top: 7rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --margin-top: 5.5rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --margin-top: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --margin-bottom: 4rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --margin-bottom: 2.25rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    --margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .pp-subpage-section .pp-subpage-section-header-container h2 {
    font-size: 10rem;
  }
}
.pp-subpage-section .pp-subpage-section-image-container {
  position: relative;
}
.pp-subpage-section .pp-subpage-section-image-container img {
  width: 100%;
  display: flex;
  height: var(--height);
  object-fit: cover;
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-image-container img {
    --height: "";
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-image-container img {
    --height: 850px;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-image-container img {
    --height: 550px;
  }
}
.pp-subpage-section .pp-subpage-section-tinted-header div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: block;
}
.pp-subpage-section .pp-subpage-section-tinted-header div:first-child {
  background-color: rgba(var(--color-background));
  mix-blend-mode: multiply;
}
.pp-subpage-section .pp-subpage-section-tinted-header div:nth-child(2) {
  background-color: rgba(var(--color-foreground));
  mix-blend-mode: screen;
}
.pp-subpage-section .pp-subpage-section-tinted-header img {
  filter: grayscale(100%);
}
.pp-subpage-section .pp-subpage-section-date {
  padding: 0 var(--pp-x-padding) 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  line-height: 1.2;
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-date {
    --margin-top: 3.75rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-date {
    --margin-top: 2.2rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-date {
    --margin-top: 1.4rem;
  }
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-date {
    --margin-bottom: 5.25rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-date {
    --margin-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-date {
    --margin-bottom: 3rem;
  }
}
.pp-subpage-section .pp-subpage-section-caption {
  font-family: var(--pp-font-body-family);
  font-size: var(--pp-font-body-size);
  line-height: var(--main-line-height);
  padding-bottom: var(--padding-bottom);
  position: relative;
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-caption {
    --padding-bottom: 6rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-caption {
    --padding-bottom: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-caption {
    --padding-bottom: 4rem;
  }
}
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-temp {
  padding-left: var(--pp-x-padding);
  opacity: 0;
  position: fixed;
  width: calc(50vw - (6.7307692308vw + -3.6923076923rem) / 2 - var(--pp-x-padding));
}
@media (min-width: 1440px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-temp {
    width: calc(50vw - 3rem - var(--pp-x-padding));
  }
}
@media (max-width: 1024px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-temp {
    width: calc(50vw - 1.6rem - var(--pp-x-padding));
  }
}
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
  padding: 0 var(--pp-x-padding) 0;
  width: 100%;
  column-gap: calc(6.7307692308vw + -3.6923076923rem);
  display: block;
  opacity: 0;
  visibility: var(--visibility);
  opacity: var(--opacity);
  column-count: var(--column-count);
}
@media (min-width: 1440px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    column-gap: 6rem;
  }
}
@media (max-width: 1024px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    column-gap: 3.2rem;
  }
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --visibility: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --visibility: visible;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --visibility: visible;
  }
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --opacity: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --opacity: 1;
  }
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --column-count: 2;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --column-count: 1;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-equal-columns {
    --column-count: 1;
  }
}
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-left-column,
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-right-column {
  width: 50vw;
  padding: 0 var(--pp-x-padding) 0;
}
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-left-column {
  padding-right: calc((6.7307692308vw + -3.6923076923rem) / 2);
}
@media (min-width: 1440px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-left-column {
    padding-right: 3rem;
  }
}
@media (max-width: 1024px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-left-column {
    padding-right: 1.6rem;
  }
}
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-right-column {
  position: absolute;
  top: 0;
  left: 50vw;
  padding-left: calc((6.7307692308vw + -3.6923076923rem) / 2);
}
@media (min-width: 1440px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-right-column {
    padding-left: 3rem;
  }
}
@media (max-width: 1024px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-caption-right-column {
    padding-left: 1.6rem;
  }
}
.pp-subpage-section .pp-subpage-section-caption p {
  margin-top: 0;
  margin-bottom: 1.12em;
}
@media screen and (min-width: 769px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-product-details {
    --margin-top: 10rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-product-details {
    --margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-product-details {
    --margin-top: 0;
  }
}
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-product-details:not(:first-child) {
  margin-top: var(--margin-top);
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-product-details p {
  margin: 0;
}
.pp-subpage-section .pp-subpage-section-caption .pp-subpage-section-product-details p:last-of-type {
  margin-bottom: calc(var(--pp-font-body-size) * var(--main-line-height));
}
