@use './scss/layout' as *;
@use './scss/typography' as *;

@mixin split-layout-plane ($gap) {
  gap: $gap;
  $width: calc(50vw - $gap / 2 - var(--pp-x-padding));

  .pp-split-layout-plane {
    width: $width;

    &.pp-split-layout-plane-full-size {
      width: calc(#{$width} * 1.2);
    }

    &.pp-split-layout-plane-inset {
      width: calc(#{$width} * 0.8);
    }
  }
}

.pp-split-layout {
  @include main-container;
  @include flex(space-between);
  @include breakpoint-value(--padding, 3rem, 0, 0);
  align-items: stretch;
  padding-top: var(--padding);
  padding-bottom: var(--padding);

  @include split-layout-plane($gap);

  @media (min-width: 1440px) {
    @include split-layout-plane($gap-max);
  }

  @media (max-width: 1024px) {
    @include split-layout-plane($gap-min);
  }

  .pp-split-layout-plane.pp-desktop {
    flex-direction: column;
    flex: none;

    &-justified {
      justify-content: space-between;


      .pp-split-layout-plane-excerpt-container {
        &:first-child {
          margin-top: 30rem;
        }

        &:last-child {
          margin-bottom: 30rem;
        }
      }
    }

    &-center {
      justify-content: center;
    }

    &-flushed-top {
      justify-content: flex-start;
    }

    &-flushed-bottom {
      justify-content: flex-end;
    }

    &-off-center {
      justify-content: center;

      >*:first-child {
        position: relative;
        top: -10rem;
      }
    }

    .pp-subpage-img {
      width: var(--insetSize);
    }

    @media #{$tablet} {
      display: none;
    }

    @media #{$mobile} {
      display: none;
    }

    >div:nth-of-type(2) {
      margin-top: 20rem;
    }
  }

  .pp-split-layout-plane.pp-mobile {
    width: 100%;
    flex-direction: column;

    @media #{$desktop} {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  .pp-split-layout-plane {
    @include flex;

    >* {
      width: 100%;
    }
  }



  .pp-split-layout-plane-excerpt-container {
    @media #{$tablet} {
      width: 60%;
      $y-padding: 6rem;
      margin-top: $y-padding - $y-tablet-padding;
      margin-bottom: $y-padding;
    }

    @media #{$mobile} {
      width: 60%;
      $y-padding: 5rem;
      margin-top: $y-padding - $y-mobile-padding;
      margin-bottom: $y-padding;
    }
  }

  .pp-split-layout-plane-excerpt {
    @include pp-caption-type;
    max-width: 40rem;
    text-align: center;
    margin: 0;
    justify-self: center;

    &:not(:last-child) {
      margin-bottom: 1.2em;
    }
  }
}