@use './scss/layout' as *;
@use './scss/typography' as *;

.pp-split-layout {
  @include main-container;
  @include flex(space-between);
  align-items: stretch;
  gap: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .pp-split-layout-plane {
    @include flex;
    flex-direction: column;

    width: $half-container-width;
    flex: none;


    &.pp-split-layout-plane-full-size {
      width: calc($half-container-width * 1.2);
    }

    &.pp-split-layout-plane-inset {
      width: calc($half-container-width * 0.8);
    }

    >div:nth-of-type(2) {
      margin-top: 15rem;
    }

    &-justified {
      justify-content: space-between;
    }

    &-center {
      justify-content: center;
    }

    &-flushed-top {
      justify-content: flex-start;
    }

    &-flushed-bottom {
      justify-content: flex-end;
    }

    &-off-center {
      justify-content: center;

      >*:first-child {
        position: relative;
        top: -10rem;
      }
    }

    .pp-subpage-img {
      width: var(--insetSize);
    }
  }

  .pp-split-layout-plane-excerpt {
    @include pp-caption-type;
  }

  .pp-split-layout-plane-excerpt {
    width: 40rem;
    text-align: center;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1.2em;
    }
  }
}